#activitiesArea{
    position: relative;
    top: 118rem;
    left: 50px;
}

.activitiesParent{
    position: relative;
}

.activities{
    width: 250px;
    aspect-ratio: 1/1;

    position: absolute;
    top: 40px;
    left: 20rem;

    border-radius: 100%;
    /*background-color: #007EFF;*/
    opacity: 0%;
}

#artDiv{

}

#photographyDiv{
    position: absolute;
    left: 42rem;
}

.titlePosition{
    position: relative;
    top: 95px;
    text-align: center;
}

#artTitle{
    position: relative;
    left: 27.5rem;
    top: 4rem;
}

#photographyTitle{
    position: relative;
    left: 48.8rem;
    top: 1.5rem;
}

.activityImage{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

#artImage{
    position: absolute;
    top: 55px;
    left: 20.95rem;
}

#artDiv{
        content: "";
        border: 10px solid white;
        border-radius: 100%;
        border-top-color: red;
}

#artDiv{
        content: "";
        border: 15px solid white;
        border-radius: 100%;
        border-top-color: red;
        border-bottom-color: red;
}

#artDiv:hover{
    opacity: 100%;
    rotate: 360deg;
    transition-duration: 5s;
}

#photographyImage{
    position: absolute;
    top: 55px;
    left: 45rem;
}


#photographyDiv{
    content: "";
    border: 15px solid white;
    border-radius: 100%;
    border-top-color: red;
    border-bottom-color: red;
}

#photographyDiv{
   position: absolute;
    left: 705px;
}

#photographyDiv:hover{
    opacity: 100%;
    rotate: 360deg;
    transition-duration: 5s;
}
