#activitiesArea{
    position: relative;
    top: 118rem;
    left: 50px;
}

.activitiesParent{
    position: relative;
}

.activities{
    width: 250px;
    aspect-ratio: 1/1;

    position: absolute;
    top: 40px;
    left: 20rem;

    border-radius: 100%;
    /*background-color: #007EFF;*/
}

#artDiv{

}

#photographyDiv{
    position: absolute;
    left: 42rem;
}

.titlePosition{
    position: relative;
    top: 95px;
    text-align: center;
}

#artTitle{

}

#photographyTitle{

}

.activityImage{
    width: 250px;
    height: 250px;

    border-radius: 100%;
}

.activityImage:hover{
    animation-name: imageAnimation;
    animation-iteration-count: initial;
    animation-duration: 2s;
}

@keyframes imageAnimation {
    0%{
        width: 250px;
        height: 250px;
    }

    100%{
        width: 280px;
        height: 280px;

        border-radius: 20px;
    }
}