
.hidden{
    opacity: 0;
    transform: translateY(50px);
    transition: all 2s;
}

.upToDown{
    opacity: 0;
    filter: blur(50);
    transform: translateY(-50px);
    transition: all 1s;
}

.rightToLeft{
    opacity: 0;
    filter: blur(0);
    transform: translateX(150px);
    transition: all 1s;
}

#projectImageArea>a:first-child{
    transition-delay: 100ms;
}

#projectImageArea>a:nth-child(2){
    transition-delay: 200ms;
}

#projectImageArea>a:nth-child(3){
    transition-delay: 300ms;
}

#projectImageArea>a:nth-child(4){
    transition-delay: 400ms;
}

#projectImageArea>a:nth-child(5){
    transition-delay: 500ms;
}

#assignmentArea>div:first-child{
    transition-delay: 100ms;
}

#assignmentArea>div:nth-child(2){
    transition-delay: 200ms;
}

#assignmentArea>div:nth-child(3){
    transition-delay: 300ms;
}

#assignmentArea>div:nth-child(4){
    transition-delay: 400ms;
}

#assignmentArea>div:nth-child(5){
    transition-delay: 500ms;
}

.show{
    opacity: 1;
    transform: translateX(0);
}

.show{
    opacity: 1;
    transform: translateY(0);
}
