#assignmentArea{
    position: relative;
    top: 108rem;

    width: 1150px;
    display: flex;
}

.cards{
    position: relative;
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: #1E8BFA;

    border-radius: 10px;
}

.subCards{
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: yellow;

    width: 172px;
    opacity: 100%;
}

.assignmentShortTitle{
    text-align: center;
    position: relative;
    top: 70px;
}