#assignmentArea{
    position: relative;
    top: 108rem;

    width: 1150px;
    display: flex;
}

.cards{
    position: relative;
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: #1E8BFA;

    border-radius: 10px;
    border: none;
    z-index: 1;
}

.assignmentShortTitle{
    text-align: center;
    position: relative;
    top: 70px;
}

/*-------------------------------------------------------------------------------------------------*/
/*sub cards*/

.subCards{
    position: relative;
    top: -67px;
    left: -10px;

    width: 200px;
    opacity: 100%;
    background-color: yellow;
}

.longText{
    position: absolute;
    top: 125px;
    text-align: center;
}

#int{

}

#oop{

}

#prf{

}

#dbms{

}

#inp{

}

#swe{

}
/*---------------------------------------------------------------------------------------------------*/
/*animation*/

