/*Background image*/
#backgroundImg{
    width: 1349px;
    height: 980px;
}


#socialMedia{
    position: absolute;
    top: 140vh;
    left: 5vw;
}

.socialMediaPosition{
    position: relative;
    top: -8px;
    left: 20px;
    margin: 8px;
}

#facebook{
    position: relative;
    left: 29px;
    top: -2px;

    width: 67px;
    aspect-ratio: 1/1;

    margin-left: 15px;
}

#github{
    width: 53px;
    aspect-ratio: 1/1;
}

#likeAndFollow{
    position: absolute;
    top: 8rem;
    right: 3rem;
}

.likeIcon{
    width: 45px;
    aspect-ratio: 1/1;
}

#followBtn{
    position: absolute;
    top: 4px;
    right: 50px;

    width: 120px;
    height: 40px;

    border-radius: 50px;
    border: 0;
    background-color: #1E8BFA;

    -webkit-text-fill-color: #f9f9f9;

    animation-name: buttonAnimation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
    transition: 2s;
}

#followBtn:hover{
    animation-name: buttonAnimation;
    animation-iteration-count: inherit;
}

#description{
    position: relative;
    top: -12rem;
}

.h2Label{
    position: absolute;
    left: 50rem;
    top: 1rem;

    font-size: 30px;
}

#descP{
    position: absolute;
    top: 8rem;
    left: 2rem;
    padding: 20px 80px 0 80px;
    width: 1280px;

    text-align: justify;
}

#bold{
    font-weight: bold;
}

#contactMeBtn{
    background-color: #1E8BFA;
    -webkit-text-fill-color: #f9f9f9;

    border-radius: 20px;
    border: 0;

    width: 180px;
    height: 60px;

    position: absolute;
    top: 18rem;
    right: 105px;

    cursor: inherit;
}

@keyframes buttonAnimation {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
}