/*Background image*/
#backgroundImg{
    width: 1349px;
    height: 980px;
}


#socialMedia{
    position: absolute;
    top: 140vh;
    left: 5vw;
}

.socialMediaPosition{
    position: relative;
    top: -8px;
    left: 20px;
    margin: 8px;
}

#facebook{
    position: relative;
    left: 29px;
    top: -2px;

    width: 67px;
    aspect-ratio: 1/1;

    margin-left: 15px;
}

#linkedin{

}

#whatsApp{

}

#instagram{

}

#telegram{

}

#github{
    width: 53px;
    aspect-ratio: 1/1;
}

#likeAndFollow{
    position: absolute;
    top: 8rem;
    right: 3rem;
}

.likeIcon{
    width: 45px;
    aspect-ratio: 1/1;
}

#followBtn{
    position: absolute;
    top: 4px;
    right: 50px;

    width: 120px;
    height: 40px;

    border-radius: 50px;
    border: 0;
    background-color: #1E8BFA;

    -webkit-text-fill-color: #f9f9f9;
}