#educationArea{
    position: relative;
    top: 1rem;
}

#title{
    position: absolute;
    top: 120px;
    left: 50px;
}

#educationLevels{
    display: flex;

    background-color: #A2DDFF;
    position: absolute;
    top: 14rem;
    left: 10rem;

    width: 75vw;
    height: 50vh;

    border-radius: 20px;
}

.image{
    margin-left: 80px;
    position: relative;
    top: 26px;
    bottom: 20px;

    border-radius: 100%;

    width: 100px;
    height: 100px;
}

.allLevels{
    -webkit-text-fill-color: black;
    font-size: 20px;

    width: 256px;
}

.text-Align{

}

#ariyawansha{

}

#ds{
    position: relative;
    top: 28px;
}

#edc{

}

#ijse{
    position: relative;
    top: 28px;
}

.firstDesc{
    margin-top: 76px;
    position: relative;
    left: 62px;
}

.secondDesc{
    margin-top: 60px;
    position: relative;
    left: 68px;
}

.thirdDesc{
    margin-top: 76px;
    position: relative;
    left: 37px;
}

.forthDesc{
    margin-top: 60px;
    position: relative;
    left: 42px;
}
