#educationArea{
    position: relative;
    top: 1rem;
}

#title{
    position: absolute;
    top: 120px;
    left: 50px;
}

#educationLevels{
    display: flex;

    background-color: #A2DDFF;
    position: absolute;
    top: 14rem;
    left: 10rem;

    width: 75vw;
    height: 50vh;

    border-radius: 20px;
}

.image{
    margin-left: 125px;
    position: relative;
    top: 26px;
    bottom: 20px;

    border-radius: 100%;

    width: 100px;
    height: 100px;
}

.allLevels{
    text-align: justify;
    -webkit-text-fill-color: black;
    font-size: 15px;
}

#1stLevel{

}

#2ndLevel{

}

#3rdLevel{

}

#4thLevel{

}

#ariyawansha{

}

#ds{
    position: relative;
    top: 176px;
}

#edc{

}

#ijse{
    position: relative;
    top: 176px;
}