#educationArea{
    position: relative;
    top: 1rem;
}

#title{
    position: absolute;
    top: 120px;
    left: 50px;
}

#educationLevels{
    background-color: #1E8BFA;
    position: absolute;
    top: 14rem;
    left: 10rem;

    width: 75vw;
    height: 50vh;

    opacity: 40%;
    border-radius: 20px;
}