#footerArea{
    position: relative;
    top: 145rem;
}

.firstDiv{
    background-color: #7DBEFF;
    width: 1349px;
    height: 700px;
}

.footerTitle{
    padding-top: 30px;
    text-align: center;
}

.inputFields{
    width: 455px;
    height: 40px;

    position: absolute;
    left: 11.9rem;
    padding: 5px;
}

#nameInput{
    position: absolute;
    left: 43.3rem;
}

.textArea{
    display: block;
    width: 950px;
    height: 200px;

    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
}

.inputFields{
    margin-top: 20px;
    border: none;
    border-radius: 20px;
}

.button{
    width: 170px;
    height: 40px;
    background-color: #003973;

    border: none;
    border-radius: 20px;
    -webkit-text-fill-color: #f9f9f9;
}

.button{
    position: absolute;
    top: 26rem;
    left: 0;
    right: 0;
    margin: auto;
}

#aboutMeTitle{
    position: absolute;
    top: 30rem;
    left: 11.9rem;
    margin-bottom: 10px;
}

.aboutMeParent{
    position: absolute;
    top: 32rem;
    left: 11.9rem;
}

.aboutMeDetails{
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
}

.aboutMeDetails{
    position: relative;
    top: 15px;
}

.socialMedia{
    position: absolute;

}

#socialMediaParent{
    position: relative;
    top: 25.75rem;
}

.socialMediaTitle{
    position: absolute;
    top: -20px;
    left: 64.6rem;
}

.socialMedia{
    position: absolute;
    left: 45rem;
    top: 37px;
}

#fb{
    position: relative;
    top: 2px;
    margin-right: 2px;

    width: 70px;
    aspect-ratio: 1/1;
}

#ln{
    width: 51px;
    aspect-ratio: 1/1;
    top: -8px;
}

#wa{

}

#in{

}

#tele{

}

#git{
    width: 55px;
    aspect-ratio: 1/1;
    top: -6px;
}

.socialMedia a{
    text-decoration: none;
}

#lastDiv{
    position: relative;
    top: 35rem;
}

.upArrow{
    width: 50px;
    aspect-ratio: 1/1;

    position: absolute;
    left: 61rem;
}

#CVButton{
    position: absolute;
    top: 0;
    left: -45rem;
}

/*-----------------------------------------------------------------------------------------------------------*/
/*second div*/

.secondDiv{
    position: relative;
    top: -36px;

    background-color: #007EFF;
    width: 1349px;
    height: 290px;
    margin: 0;
}

.text-1{
    padding-top: 50px;
    text-align: center;
    font-size: 54px;
}

.text-2{
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
}

/*--------------------------------------------------------------------------------------------------------------*/
/*third div*/

.thirdDiv{
    background-color: #001B37;
    width: 1349px;
    height: 450px;

    position: relative;
    top: -36px;
}

.wrap-1{
    position: absolute;
    top: 20px;
    left: 38rem;
}

.wrap-1Like{
    width: 150px;
    aspect-ratio: 1/1;
}

.wrap1-text{
    -webkit-text-fill-color: #f9f9f9;
    font-size: 54px;

    position: absolute;
    left: -170px;
    width: 490px;
}

.wrap-2{
    position: absolute;
    top: 18rem;
    left: 36rem;

    height: 150px;
}

.likeAndViews{
    height: 150px;
}

.wrap2-like{
    width: 43px;
    aspect-ratio: 1/1;

    position: relative;
    top: 5px;
    margin-right: 35px;
}

.wrap2-views{
    width: 125px;
    aspect-ratio: 1.8/1;

    position: relative;
    top: 21px;
}

.count{
    display: flex;
    -webkit-text-fill-color: #f9f9f9;
    font-size: 30px;

    position: relative;
    top: -80px;
    left: 55px;
}

.count-2{
    margin-left: 80px;
}

.developedBy{
    -webkit-text-fill-color: #f9f9f9;
    position: relative;
    left: 0px;
    top: -20px;
    margin: 0;
    padding: 0;
}
