#footerArea{
    position: relative;
    top: 145rem;
}

.firstDiv{
    background-color: #7DBEFF;
    width: 1349px;
    height: 600px;
}

.footerTitle{
    padding-top: 30px;
    text-align: center;
}