#footerArea{
    position: relative;
    top: 145rem;
}

.firstDiv{
    background-color: #7DBEFF;
    width: 1349px;
    height: 600px;
}

.footerTitle{
    padding-top: 30px;
    text-align: center;
}

.inputFields{
    width: 455px;
    height: 40px;

    position: absolute;
    left: 11.9rem;
    padding: 5px;
}

#nameInput{
    position: absolute;
    left: 43.3rem;
}

.textArea{
    display: block;
    width: 950px;
    height: 200px;

    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
}

.inputFields{
    margin-top: 20px;
    border: none;
    border-radius: 20px;
}

.button{
    width: 170px;
    height: 40px;
    background-color: #003973;

    border: none;
    border-radius: 20px;
    -webkit-text-fill-color: #f9f9f9;
}

.button{
    position: absolute;
    top: 26rem;
    left: 0;
    right: 0;
    margin: auto;
}

#aboutMeTitle{
    position: absolute;
    top: 30rem;
    left: 11.9rem;
    margin-bottom: 10px;
}

.aboutMeParent{
    position: absolute;
    top: 32rem;
    left: 11.9rem;
}

.aboutMeDetails{
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
}

.aboutMeDetails{
    position: relative;
    top: 15px;
}