.lines{
   position: relative;
}

#imgAndLinesParentDiv{

}

#mainLine{
    background-color: gray;
    width: 1000px;
    height: 10px;

    border-radius: 10px;
    position: absolute;
    top: 280px;
    left: 120px;
}

.subLines{
    background-color: gray;
    width: 80px;
    height: 10px;

    border-radius: 10px;
    position: relative;
    top: 250px;

    transform: rotate(90deg);
}

#line1{
    position: absolute;
    top: 15rem;
    left: 13rem;
}

#line2{
    position: absolute;
    top: 15rem;
    left: 28rem;
}

#line3{
    position: absolute;
    top: 15rem;
    left: 44rem;
}

#line4{
    position: absolute;
    top: 15rem;
    left: 59.5rem;
}

#line5{
    position: absolute;
    top: 20rem;
    left: 20.5rem;
}

#line6{
    position: absolute;
    top: 20rem;
    left: 36rem;
}

#line7{
    position: absolute;
    top: 20rem;
    left: 52rem;
}

#skillsArea{
    position: relative;
    top: 50rem;
    left: 3rem;

    width: 1285px;
}

#skillsIcons{
  position: relative;
}

#skillTitle{
    position: absolute;
    top: 0;
}

#htmlIcon{
    width: 125px;
    aspect-ratio: 1/1;

    position: relative;
    top: 3.3rem;
    left: 11.5rem;
}

#cssIcon{
    width: 125px;
    aspect-ratio: 1/1;

    position: relative;
    top: 21.2rem;
    left: 11rem;
}

#figmaIcon{
    width: 115px;
    aspect-ratio: 1/1;

    position: relative;
    top: 3.1rem;
    left: 10.8rem;
}

#javaIcon{
    width: 147px;
    aspect-ratio: 1/1;

    position: relative;
    top: 22rem;
    left: 10.5rem;
}

#mySqlIcon{
    width: 140px;
    height: 115px;

    position: relative;
    top: 3rem;
    left: 9.1rem;
}

#linuxIcon{
    width: 112px;
    aspect-ratio: 1/1;

    position: relative;
    top: 20.8rem;
    left: 9rem;
}

#githubIcon{
    position: relative;
    top: 4.1rem;
    left: 4.3rem;

    width: 265px;
    height: 151px;
}